body {
  background: rgb(230, 255, 241);
  background: radial-gradient(
    circle,
    rgba(230, 255, 241, 1) 0%,
    rgba(197, 240, 255, 1) 100%
  );
}
.parent-container {
  display: flex;
  height: 900px;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  perspective: 1000px;
}
.parent-container .card-1 {
  background: rgb(241, 90, 96);
  background: linear-gradient(
    45deg,
    rgba(241, 90, 96, 1) 0%,
    rgba(203, 101, 33, 1) 100%
  );
  height: 300px;
  width: 350px;
  margin: 1%;
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.parent-container .card-2 {
  background-color: rgb(240, 166, 255);

  height: 300px;
  width: 350px;
  margin: 1%;
}
.parent-container .card-3 {
  height: 300px;
  width: 350px;
  margin: 1%;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(45, 206, 253, 1) 100%
  );
}
.parent-container .card-4 {
  background: rgb(172, 255, 161);
  background: linear-gradient(
    45deg,
    rgba(172, 255, 161, 1) 0%,
    rgba(179, 255, 184, 1) 100%
  );
  height: 300px;
  width: 350px;
  margin: 1%;
}
