body {
  background: rgb(230, 255, 241);
  background: radial-gradient(
    circle,
    rgba(230, 255, 241, 1) 0%,
    rgba(197, 240, 255, 1) 100%
  );
}
table,
td,
th {
  border: 2px solid rgb(0, 0, 0);
}
.product-th {
  width: 50%;
}
.product-price {
  width: 30%;
}
.product-desc {
  width: 60%;
}

.first-section {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.568);
  border: 1px solid rgba(0, 0, 0, 0.226);

  width: 30%;
  margin: 10px;
  padding: 10px;
  padding-top: 0px;
}
.first-aside {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.568);
  border: 1px solid rgba(0, 0, 0, 0.226);

  width: 30%;
  margin: 10px;
  padding: 10px;
  padding-top: 0px;
}
.data-table {
  background-color: rgba(255, 255, 255, 0.568);
  border: 1px solid rgba(0, 0, 0, 0.226);

  width: 30%;
  margin: 10px;
  padding: 10px;
}
