.nav-container {
  display: flex;
  justify-content: center;
}
.nav-list {
  display: inline-flex;
  padding: 0px;
  list-style: none;
}
.nav-list a {
  border: 0.01rem solid rgba(0, 0, 0, 0.251);
  padding: 0.5rem;
  background-color: rgb(38, 114, 31);
  color: white;
  text-decoration: none;
  border-radius: 1%;
}
.nav-list a:hover {
  color: rgb(255, 187, 41);
}
.nav-list .active {
  color: rgb(255, 187, 41);
}
