:root {
  font-family: "Roboto Slab";
}
body {
  margin: 0;
}
.nav-container {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(255, 255, 255);
}
.nav-list {
  display: inline-flex;
  padding: 0px;
  list-style: none;
}
.nav-list li {
  padding: 0;
}
.nav-list a {
  /* border: 0.01rem solid rgba(0, 0, 0, 0.251); */
  padding: 0.5rem;
  color: rgb(201, 201, 201);
  text-decoration: none;
  border-radius: 1%;
  font-size: 25px;
}
.nav-list a:hover {
  color: rgb(255, 187, 41);
}
.nav-list .active {
  color: rgb(255, 187, 41);
}
@media only screen and (max-width: 600px) and (min-width: 50px) {
  .nav-list {
    display: block;
    width: 100%;
  }
  .nav-list li {
    display: block;
    margin: 0px;
  }
  .nav-list a {
    text-align: center;
    display: block;
    padding: 1rem;
    width: 100%;
    padding: 0px;
  }
}
