body {
  background: rgb(230, 255, 241);
  background: radial-gradient(
    circle,
    rgba(230, 255, 241, 1) 0%,
    rgba(197, 240, 255, 1) 100%
  );
}
.box {
  display: flex;
  justify-content: center;
  background-color: rgba(241, 164, 241, 0.678);
  height: auto;
  width: 35rem;
  border-radius: 1rem;
}
.project-desc {
  display: block;
}

.box .project-desc .show-more {
  display: none;
}

.check:checked + .show-more {
  display: block;
}
.check {
  display: none;
}
.btn:hover {
  cursor: pointer;
}

.löda {
  background-color: aqua;
}

.more-info {
  font-size: x-large;
}
.checkbox:checked + .more-info {
  font-size: small;
}
.checkbox {
  display: none;
}
