body {
  background-color: white;
}

p {
  font-size: 18px;
}
.parent-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 17rem;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}
.box-img {
  height: 15rem;
}
.box {
  display: flexbox;
  flex-wrap: wrap;
  width: 12rem;
  padding: 1rem;
  border-radius: 0.2rem;
  border: 1px solid black;
}
#box-1 {
  background-color: rgb(255, 187, 245);
}
#box-2 {
  background-color: rgb(198, 255, 168);
}
#box-3 {
  background-color: rgb(172, 255, 255);
}
.box-header {
  height: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}
.box-desc {
  width: 12rem;
  text-align: center;
}
.checkbox {
  display: none;
}

a {
  text-decoration: none;
}
.parent-container .box .more-info a {
  color: black;
}
.parent-container .box .more-info a:hover {
  text-decoration: underline 0.1rem solid rgb(207, 99, 99);
}
.more-info {
  display: none;
  margin-left: 1rem;
  list-style: none;
}
.info-btn {
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: blue;
  text-align: center;
}
.info-btn:hover {
  text-decoration: underline 0.1rem solid rgb(207, 99, 99);
  color: rgb(0, 0, 0);
}
.checkbox:checked + .more-info {
  display: block;
}
