body {
  background: rgb(230, 255, 241);
  background: radial-gradient(
    circle,
    rgba(230, 255, 241, 1) 0%,
    rgba(197, 240, 255, 1) 100%
  );
  font-family: "Roboto Slab";
}
p {
  font-size: large;
  max-width: 70%;
}
.container-parent {
  display: flex;
  background-color: rgb(255, 255, 255);
  /* border: 2px solid black; */

  margin-top: 3%;
  height: auto;
  margin-left: 20%;
  margin-right: 20%;
}
.right-container-parent {
  display: flex;
  /* border: 1px solid black; */
  width: 30%;
  height: auto;
  margin-right: 2%;
}
.left-container-parent {
  display: block;
  /* border: 1px solid black; */
  width: 70%;
  height: auto;
  margin-right: 3%;
  margin-left: 2%;
}
.work-header {
  margin-top: 0px;
}

.left-side-container-1 {
  margin-bottom: 0px;
  width: 100%;
  height: auto;
}
.left-side-container-2,
.left-side-container-3,
.left-side-container-4,
.left-side-container-5 {
  width: 100%;
  height: auto;
  margin-bottom: 30px; /* updated from 0px */
}
.left-side-header {
  /* border: 1px solid rgb(255, 102, 0); */
  width: 100%;
  height: 40px;
}

.right-container-parent {
  display: block;
  /* border: 1px solid black; */
  width: 30%;
  height: auto;
}
.right-side-container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.experience-header {
  /* border: 1px solid rgb(255, 102, 0); */
  width: 100%;
  height: 40px;
}
.right-side-container-2,
.right-side-container-3,
.right-side-container-4 {
  /* border: 0.25px solid rgb(2, 0, 0); */
  width: 100%;
  height: auto;
  margin-bottom: 30px; /* updated from 5% */
  padding-left: 0px;
  margin-left: 0%;
}
.right-side-container-3 {
  margin-top: 0;
}
.right-side-container-4 li {
  list-style: none;
  margin: 0.8rem 0px;
}
.right-side-container-5 {
  /* border: 1px solid rgb(2, 0, 0); */
  margin-top: 5%;

  width: 100%;
  height: auto;
}
.avatar {
  width: 150px;
  height: 140px;
  margin-top: 7%;
  border-radius: 50%;
}
@media only screen and (max-width: 1150px) and (min-width: 600px) {
  .container-parent {
    margin-right: 2%;
    margin-left: 2%;
  }
  .container-parent .right-container-parent {
    margin-left: 2%;
  }
  .container-parent .left-container-parent {
    width: 60%;
  }
  .container-parent .right-container-parent {
    width: 40%;
  }
}
@media only screen and (max-width: 600px) {
  .container-parent p,
  .container-parent li,
  .container-parent a {
    font-size: 12px;
  }

  .left-side-container-1,
  .left-side-container-2,
  .left-side-container-3,
  .left-side-container-4,
  .left-side-container-5 {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
  }

  .container-parent {
    margin-left: 0;
    margin-right: 0;
  }
  .container-parent p {
    max-width: 140px;
  }

  .container-parent .right-container-parent .right-side-container-3 {
    margin: 0;
  }
  .container-parent h2 {
    font-size: 12px;
  }
  .container-parent h3 {
    font-size: 12px;
    max-width: 80px;
  }
  .container-parent h4 {
    font-size: 14px;
  }
  .right-container-parent {
    width: 50%;
  }
  .education-header {
    margin: 0;
    margin-top: 7%;
  }
  .left-container-parent h1 {
    margin-top: 7%;
    color: red;
  }
  .left-container-parent {
    width: 50%;
  }
  .right-side-container-3 {
    margin-top: 80px;
  }
  .avatar {
    height: 7rem;
    width: 7rem;
  }
}
